<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to ange joe</title>
</head>
<body>
<div id="navbar"></div>
<div id="app">
  <div class="container">
    {% if dev %}
    <p>If you're seeing this message, that means you haven't yet compiled your ClojureScript!</p>
    <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p>
    <p>See <a href="http://www.luminusweb.net/docs/clojurescript.md">ClojureScript</a> documentation for further details.</p>
    {% else %}
    <div class="three-quarters-loader">Loading…</div>
    {% endif %}
  </div>
</div>

<!-- scripts and styles -->
{% style "/assets/bootstrap/css/bootstrap.min.css" %}
{% style "/assets/bootstrap/css/bootstrap-theme.min.css" %}
{% style "/css/json.human.css" %}
{% style "/css/screen.css" %}

<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<script src="js/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="js/highchartstheme.js"></script>
<script src="js/json.human.js"></script>

<script type="text/javascript">
var context = "{{servlet-context}}";
</script>

{% if dev %}
{% script "/js/out/goog/base.js" %}
{% script "/js/app.js" %}
<script type="text/javascript">goog.require("ange.app");</script>
{% else %}
{% script "/js/app.js" %}
{% endif %}

</body>
</html>




